@import url("http://fonts.googleapis.com/css?family=Inter:400.700,800");
* {
  /* BOILERPLATE STYLES */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  background: hsl(36, 100%, 99%);
}

.page-container {
  display: grid;
  grid-template: 5rem 18.75rem 11.875rem 8.125rem/1fr 1fr 1fr;
  gap: 1.875rem;
  width: 69.375rem;
  height: 50.313rem;
  margin: 3.5rem 0 0 0;
}
.page-container .item1 {
  /* HEADER SECTION STYLES: */
  grid-column-end: span 3;
}
.page-container .item1 .header-container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .item1 .header-container .navbar .burger-dropdown {
  display: none;
}
.page-container .item1 .header-container .navbar .links-container {
  margin-left: auto;
}
.page-container .item1 .header-container .navbar .links-container .link {
  padding: 1rem;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  text-decoration: none;
}
.page-container .item1 .header-container .navbar .links-container .link:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
.page-container .item1 .header-container .navbar .links-container .link:focus {
  color: hsl(5, 85%, 63%);
}
.page-container .item2 {
  /* IMAGE SECTION STYLES: */
  grid-row-start: 2;
  grid-column-end: span 2;
  background-image: url("../assets/images/image-web-3-desktop.jpg");
  background-size: cover;
}
.page-container .item3 {
  /* BRIGHT FUTURE SECTION STYLES: */
  grid-row-start: 3;
  grid-column-end: span 2;
  display: flex;
  justify-content: space-between;
}
.page-container .item3 h1 {
  width: 40%;
  font-weight: 900;
  color: hsl(240, 100%, 5%);
  font-size: 3.25rem;
  line-height: 3.5rem;
}
.page-container .item3 article {
  display: flex;
  flex-direction: column;
  width: 46%;
}
.page-container .item3 article p {
  font-size: 0.938rem;
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}
.page-container .item3 article a {
  margin: auto auto 1.5rem 0;
  padding: 1rem 2.188rem;
  background: hsl(5, 85%, 63%);
  width: -moz-fit-content;
  width: fit-content;
  color: hsl(36, 100%, 99%);
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-decoration: none;
}
.page-container .item3 article a:hover {
  background: hsl(240, 100%, 5%);
  cursor: pointer;
}
.page-container .item3 article a:focus {
  background: hsl(240, 100%, 5%);
}
.page-container .item4 {
  /* NEW ARTICLES SECTION STYLES: */
  grid-column-start: 3;
  grid-row-end: span 2;
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 1.688rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-container .item4 h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2.4rem;
  font-weight: 900;
}
.page-container .item4 article h3 {
  margin: 0 0 0.75rem 0;
}
.page-container .item4 article h3 a {
  color: hsl(36, 100%, 99%);
  font-weight: 800;
  text-decoration: none;
}
.page-container .item4 article h3 a:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.page-container .item4 article h3 a:focus {
  color: hsl(35, 77%, 62%);
}
.page-container .item4 article p {
  color: hsl(233, 8%, 79%);
  line-height: 1.75rem;
  font-size: 0.938rem;
  font-weight: 400;
}
.page-container .item4 hr {
  height: 1px;
  background-color: hsla(233, 8%, 79%, 0.5);
  border: none;
}
.page-container .item5 {
  /* TOP ARTICLES SECTION STYLES: */
  grid-column-end: span 3;
  display: flex;
}
.page-container .item5 img {
  width: 6.25rem;
  height: 7.813rem;
  margin: 0 1.75rem 0 0;
}
.page-container .item5 .article-container {
  display: flex;
  width: 33%;
  margin: 0 1rem 0 0;
}
.page-container .item5 .article-container .text-container h1 {
  color: hsl(233, 8%, 79%);
  font-weight: 800;
  font-size: 1.75rem;
}
.page-container .item5 .article-container .text-container h2 a {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 1.1rem;
  text-decoration: none;
}
.page-container .item5 .article-container .text-container h2 a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
.page-container .item5 .article-container .text-container h2 a:focus {
  color: hsl(5, 85%, 63%);
}
.page-container .item5 .article-container .text-container p {
  color: hsl(236, 13%, 42%);
  font-size: 0.938rem;
  font-weight: 400;
}

/* MEDIA QUERY. DEVELOPED DESKTOP FIRST SO WE USE MAX-WIDTH */
@media (max-width: 1300px) {
  .page-container {
    margin: 1rem 0 5rem 0;
    grid-template: 3.75rem 18.75rem 19.375rem 30.625rem 28.125rem/1fr;
    width: 21.563rem;
    height: -moz-fit-content;
    height: fit-content;
    gap: 4.063rem;
  }
  .page-container .item1 {
    grid-area: auto/auto/auto/auto;
    width: 100%;
  }
  .page-container .item1 .header-container {
    /* HEADER SECTION STYLES: */
    height: 100%;
  }
  .page-container .item1 .header-container .navbar {
    height: 100%;
    justify-content: space-between;
  }
  .page-container .item1 .header-container .navbar .logo {
    width: 3rem;
  }
  .page-container .item1 .header-container .navbar .burger-dropdown {
    display: block;
    cursor: pointer;
  }
  .page-container .item1 .header-container .navbar .burger-dropdown-active {
    cursor: pointer;
    display: block;
    position: static;
    z-index: 3;
    opacity: 1;
    content: url("../assets/images/icon-menu-close.svg");
  }
  .page-container .item1 .header-container .navbar .links-container {
    display: none;
  }
  .page-container .item1 .header-container .navbar .links-container-active {
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    height: 100%;
    padding: 9rem 0.5rem;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
  }
  .page-container .item1 .header-container .navbar .links-container-active .link {
    padding: 1rem;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    text-decoration: none;
  }
  .page-container .item1 .header-container .navbar .links-container-active .link:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
  }
  .page-container .item1 .header-container .navbar .links-container-active .link:focus {
    color: hsl(5, 85%, 63%);
  }
  .page-container .item2 {
    /* IMAGE SECTION STYLES: */
    grid-area: auto/auto/auto/auto;
    background-image: url("../assets/images/image-web-3-mobile.jpg");
    margin: -2rem 0 0 0;
  }
  .page-container .item3 {
    /* BRIGHT FUTURE SECTION STYLES: */
    grid-area: auto/auto/auto/auto;
    flex-direction: column;
    margin: -2rem 0 0 0;
  }
  .page-container .item3 h1 {
    font-size: 2.6rem;
    line-height: 2.75rem;
    width: 100%;
  }
  .page-container .item3 article {
    width: 100%;
  }
  .page-container .item3 article p {
    margin: 0 0 2.25rem 0;
    line-height: 1.5rem;
  }
  .page-container .item3 article a {
    margin: auto 0 auto 0;
  }
  .page-container .item4 {
    /* NEW ARTICLES SECTION STYLES: */
    grid-area: auto/auto/auto/auto;
  }
  .page-container .item5 {
    /* TOP ARTICLES SECTION STYLES: */
    grid-area: auto/auto/auto/auto;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-container .item5 .article-container {
    width: 100%;
  }
  .page-container .item5 .article-container img {
    height: 8.125rem;
  }
  .page-container .item5 .article-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-container .item5 .article-container .text-container p {
    line-height: 1.5rem;
  }
  /* OVERLAY STYLES: */
  .overlay-none {
    display: none;
  }
  .overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}/*# sourceMappingURL=index.css.map */